@import "tailwindcss"; /* Suficiente para Tailwind v4 */

/* Quitamos el overflow hidden global para evitar bloqueos fantasmas */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E8E8E8;
}

* {
  box-sizing: border-box;
}

.leaflet-container {
  z-index: 0 !important;
}

@media print {

  html,
  body {
    width: 80mm !important;
    max-width: 80mm !important;
    min-width: 80mm !important;
    overflow: hidden;
  }

  #mobile-print-area,
  .force-print-area {

    width: 80mm !important;
    max-width: 80mm !important;
    min-width: 80mm !important;

    transform: none !important;
    zoom: 1 !important;
    scale: 1 !important;
  }

}