@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
  

.leaflet-container {
  z-index: 0 !important;
}


body {
    background-color: #E8E8E8;
}

/* Este CSS solo se aplicará cuando se imprima el contenido del iframe */
@media print {
  @page {
    margin: 0;
    size: auto;
  }
  
  /* Aseguramos que el contenedor del ticket sea visible */
  .ticket-wrapper {
    display: block !important;
    visibility: visible !important;
    width: 80mm;
  }
}