@import "tailwindcss"; /* Suficiente para Tailwind v4 */

/* Quitamos el overflow hidden global para evitar bloqueos fantasmas */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #E8E8E8;
}

* {
  box-sizing: border-box;
}

.leaflet-container {
  z-index: 0 !important;
}

/* Configuración de impresión se mantiene impecable */
@media print {
  @page {
    margin: 0;
    size: auto;
  }
  
  .ticket-wrapper {
    display: block !important;
    visibility: visible !important;
    width: 80mm;
  }
}